.copyright {
  margin: 0 20px;
  padding: 0;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.copyright__link {
  text-decoration: none;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin-top: 8px;
}

.copyright__logo{
  color: #666666;
  &:hover,
  &:focus {
    color: $green;
    outline: none;
  }

  &:active {
    color: rgba(105, 183, 56, 0.3);
  }
}

