.main-footer__map {
  position: relative;
  height: 362px;
  width: 100%;

  @media (min-width: $tablet) {
    height: 400px;
  }

  @media (min-width: $desktop) {
    height: 100%;
  }
}

.main-footer__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-footer__image-container img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-footer__map iframe {
  width: 100%;
  height: 100%;
  z-index: 1;

}

.main-footer__wrapper {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding-top: 56px;
  }
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 49px;
  }
}

.main-footer__logo {
  display: inline-block;
  color: #111111;
  width: 128px;
  height: 24px;
  margin-bottom: 19px;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding-top: 6px;
  }
}

.main-footer__logo-image {
  width: 128px;
  height: 24px;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    justify-content: end;
    gap: 25px;
  }
}