.input {
  font-family: $oswald;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  height: 55px;
  padding-left: 10px;
  width: calc(100% - 40px);
  margin: 0 20px 16px;
  box-sizing: border-box;
  color: $text;
  outline: none;

  &:hover {
    border: 1px solid $bg-grey-4;
  }

  &:active {
    border: 1px solid $text;
  }

  &:invalid:not(:placeholder-shown) {
    border-color: transparent;
    outline: 2px solid #ff8282;
  }

  @media (min-width: $tablet) {
    margin: 0;
    flex-grow: 1;
    width: auto;
  }
}
