.more {
  padding: 64px 20px 23px;
  border-bottom: 1px solid $bg-grey-3;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url("../../images/svg/icon-plus-mobile.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    top: 26px;
    left: calc(50% - 15px);

    @media (min-width: $tablet) {
      width: 60px;
      height: 60px;
      background-image: url("../../images/svg/icon-plus-tablet.svg");
      background-size: 60px 60px;
      top: 122px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $tablet) {
    padding: 233px 0 40px;
    //min-height: 136px;
    width: 324px;
    position: relative;
    border-bottom: none;

    @media (min-width: $desktop) {
      width: 245px;
      padding: 220px 0 40px;
    }

    &::after {
      content: "";
      border: 1px solid $bg-grey-1;
      height: calc(100% - 71px);
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }
  }
}

//.more__image {
//text-align: center;
//}

.more__title {
  font-family: $oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  //padding-top: 20px;
  margin-bottom: 8px;


  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 24px;
    width: 134px;
    margin: 0 auto 23px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 28px;
  }
}

.more__info {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  //padding: 8px 0 19px;
  margin-bottom: 21px;
  margin-top: 0;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto 82px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 90px;
  }
}

.more__batton {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: $bg-grey-1;
  text-transform: uppercase;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  //margin-bottom: 46px;
  padding: 10px 0;
  color: $text;

  @media (min-width: $tablet) {
    margin: 0 37px;
  }
}