.inner-title {
  padding: 0;
  margin: 0 20px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  font-weight: 400;

  @media (min-width: $tablet) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0 30px;
  }
}
