.achievements {
  background-color: $bg-grey-2;
  padding: 25px 20px 40px;

  @media (min-width: $tablet) {
    padding: 25px 0 0;
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    padding: 0;
    background-color: #f2f2f2;
    padding-bottom: 46px;
  }
}

.achievements__title {
  padding: 0;
  margin: 0 0 41px;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 22px 30px 19px;
  }

  @media (min-width: $desktop) {
    background-color: #ffffff;
    padding: 8px 0 77px;
    margin: 0;
  }
}

.achievements__title span {
  @media (min-width: $desktop) {
    display: block;
    width: 1220px;
    margin: 0 auto;
  }
}

.achievements__block {
  @media (min-width: $desktop) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.achievements__text-block {
  @media (min-width: $desktop) {
    width: 440px;
    padding-top: 70px;
  }
}

.achievements__text {
  padding: 0;
  margin: 0 0 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 55px;
  }

  @media (min-width: $desktop) {
    margin: 0 0 69px;
  }
}

.achievements__container {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 89px;
  }

  @media (min-width: $desktop) {
    display: block;
    margin: 0;
  }
}

.achievements__list {
  padding: 0;
  margin: 0 auto 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 333px;

  @media (min-width: $tablet) {
    max-width: 716px;
    justify-content: flex-start;
    gap: 43px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    margin: 0 0 48px;
  }
}

.achievements__item {
  display: flex;
  flex-direction: column;
}

.achievements__meaning {
  margin: 0;
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  border: 1px solid $bg-grey-4;
  padding: 14px 15px 17px;
  border-radius: 4px;
  width: 91px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
    min-width: 131px;
  }
}

.achievements__name {
  margin: -9px auto 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  width: 80px;
  background: $bg-grey-2;

  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
    width: 127px;
    background-color: #ffffff;
  }

  @media (min-width: $desktop) {
    background-color: #f2f2f2;
  }
}

.achievements__costs {
  margin: 0;
  padding: 0;
  font-family: $oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  margin-bottom: 19px;
  display: block;

  @media (min-width: $tablet) {
    font-size: 20px;
    padding-top: 10px;

    & span {
      display: block;
      text-align: right;
      margin-bottom: 10px;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    gap: 67px;
  }
}

.achievements__slider {
  @media (min-width: $tablet) {
    background-color: #eaeaea;
    position: relative;
    padding-bottom: 98px;

    &::before {
      content: "";
      width: 100%;
      height: 147px;
      position: absolute;
      background-color: #ffffff;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-top: -134px;
    background-color: #f2f2f2;

    &::before {
      height: 134px;
    }
  }
}
