.achievements {
  background-color: $bg-grey-2;
  padding: 25px 20px 0;
}

.achievements__title {
  padding: 0;
  margin: 0 0 41px;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: &black;
}

.achievements__text {
  padding: 0;
  margin: 0 0 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.achievements__list {
  padding: 0;
  margin: 0 auto 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 333px;
}

.achievements__item {
  display: flex;
  flex-direction: column;
}

.achievements__meaning {
  margin: 0;
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $black;
  border: 1px solid #cdcdcd;
  padding: 14px 15px 17px;
  border-radius: 4px;
  width: 91px;
  text-transform: uppercase;
  text-align: center;
  // flex-grow: 1;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.achievements__name {
  margin: -9px auto 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  width: 80px;
  background: $bg-grey-2;
}

.achievements__costs {
  font-family: $oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
  margin-left: 48px;
}
