.main-header {
  background-image: url("../../images/logo/logo-text.svg");
  background-repeat: no-repeat;
  background-position: 50% 23px;
  background-size: 101px 18px;
  position: relative;
  padding-top: 65px;
  z-index: 20;

  @media (min-width: $tablet) {
    background-image: none;
    padding: 29px 0 0 233px;
    margin: 0 36px 0 30px;
  }
}

.main-header__logo {
  position: absolute;
  top: 13px;
  left: 20px;

  @media (min-width: $tablet) {
    top: 26px;
    left: 3px;
  }
}