.main-footer__map {
  position: relative;
  height: 362px;
  width: 100%;

  @media (min-width: $tablet) and (min-width: $desktop) {
    height: 400px;
  }
}

.main-footer__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-footer__image-container img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-footer__map iframe {
  width: 100%;
  height: 362px;
  z-index: 1;

  @media (min-width: $tablet) and (min-width: $desktop) {
    height: 400px;
  }
}

.main-footer__logo {
  margin: 10px;
  padding: 29px 0 0 87px;
  text-align: center;
  position: absolute;

  @media (min-width: $tablet) {
    padding: 90px 0 0 20px;
  }
}

.main-footer__logo-image {
  color: #111111;

  &:hover {
    color: #3e3e3e;
  }

  &:active {
    color: #6b6b6b;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet) {
    justify-content: end;
    gap: 25px;
  }
}
