.main-products {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto 72px;
  }
}

.main-products__title {
  margin-bottom: 41px;
  padding-top: 26px;

  @media (min-width: $tablet) {
    margin-bottom: 94px;
    padding-top: 67px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 89px;
  }
}

.main-products__cards {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid $bg-grey-3;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px 60px;
    padding: 0 30px;
    margin: 0 auto;
    width: 708px;
    border-top: none;
  }
}

.main-products__more-image {
  width: 30px;
  margin: 0 auto 28px;
}

.main-products__more-title {
  font-family: $oswald;
}
