.main-products {
    margin: 0 20px;
}

.main-products__title {
    padding: 0;
    margin: 30px 0 61px;
    font-family: $oswald;
    font-size: 36px;
    line-height: 36px;
    color: $black;
    font-weight: normal;
}