.map {
  @media (min-width: $desktop) {
    position: relative;
    padding: 94px 0 106px;
  }
}

.map__map {
  position: relative;
  height: 362px;
  width: 100%;

  @media (min-width: $tablet) {
    height: 400px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

.map__invitation {
  @media (min-width: $desktop) {
    position: relative;
    z-index: 5;
    width: 565px;
    background: #ffffff;
    gap: unset;
    left: 50%;
    transform: translateX(-610px);
  }
}
