.nav {
  position: relative;

  @media (min-width: $desktop) {
    width: 50%;
    margin-left: auto;
    box-sizing: border-box;
    padding-left: 30px;
  }
}

.nav__toggle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -45px;
  right: 23px;
  border: none;
  background-color: #ff0000;
  display: none;
}

.nav--closed .nav__toggle {
  display: block;
  background: url("../../images/svg/burger-menu-mobile.svg");

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  display: block;
  background: url("../../images/svg/cross-for-close-mobile-menu.svg");

  @media (min-width: $tablet) {
    display: none;
  }
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid $bg-grey-3;

  @media (min-width: $tablet) {
    display: flex;
    border-top: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0 34px;
  }
}

.nav--closed .nav__list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
  }
}

.nav--opened .nav__list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;

  @media (min-width: $tablet) {
    display: flex;
    position: static;
  }
}

.nav__item {
  border-bottom: 1px solid $bg-grey-3;

  @media (min-width: $tablet) {
    border-bottom: none;

    &:active {
      position: relative;
    }
  }

  @media (min-width: $desktop) {
    border-bottom: none;

    &:active {
      color: rgba(0, 0, 0, 0.3);
      position: relative;
    }
  }
}

.nav__link {
  font-family: $oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  display: block;
  padding: 22px 5px 23px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black;

  @media (min-width: $tablet) {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

    &--active {
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 13px;
      text-decoration-color: $green;
    }

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: $black;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.nav--index {
  @media (min-width: $desktop) {
    & .nav__link {
      color: $white;

      &:hover {
        color: rgba(255, 255, 255, 0.6);
      }

      &:active {
        color: rgba(255, 255, 255, 0.3);
      }
    }

    & .nav__link--active {
      text-decoration-color: $white;
    }
  }
}
