.problems__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.problems__item {
  padding: 19px 21px 19px;
  margin: 0 20px 20px;
  background-color: $bg-grey-1;
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    padding: 62px 20px 58px;
    margin: 0 30px 30px;
  }
}

.problems__title {
  padding: 11px 0 0 70px;
  margin: 0 0 15px;
  font-family: $oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  color: $black;
  text-transform: uppercase;
  position: relative;
  min-height: 50px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: $green;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    background-position: center;
    z-index: 10;
    background-size: cover;
  }

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    padding: 14px 0 0px 32px;
    margin-bottom: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 1px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background: $green;
      z-index: 1;
    }
  }
}

.problems__item--slim .problems__title {
  &::after {
    top: 0px;
    left: 8px;
    background-image: url("../../images/svg/cat-slim.svg");
    width: 36px;
    height: 50px;

    @media (min-width: $tablet) {
      width: 140px;
      height: 194px;
      top: 18px;
      left: 100%;
      margin-left: -213px;
    }
  }

  &::before {
    top: 4px;
    left: 1px;

    @media (min-width: $tablet) {
      top: 29px;
      left: 100%;
      margin-left: -243px;
    }
  }
}

.problems__item--gain .problems__title {
  &::after {
    top: 16px;
    left: -8px;
    background-image: url("../../images/svg/cat-powerful.svg");
    width: 67px;
    height: 28px;

    @media (min-width: $tablet) {
      width: 268px;
      height: 112px;
      top: 72px;
      left: 100%;
      margin-left: -277px;
    }
  }

  &::before {
    top: 4px;
    left: 1px;

    @media (min-width: $tablet) {
      top: 28px;
      left: 100%;
      margin-left: -243px;
    }
  }
}

.problems__item:last-child {
  margin-bottom: 0;
}

.problems__text {
  padding: 0 10px 23px 0;
  margin: 0px 0 19px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid $text;

  @media (min-width: $tablet) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $black;
    border-bottom: 0;
    padding: 0px 293px 0px 33px;
    margin-bottom: 52px;
  }
}

.problems__link {
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: calc(100% + 17px);
    background-image: url("../../images/svg/icon-arrow.svg");
    width: 23px;
    height: 10px;
    background-position: right center;
    background-repeat: no-repeat;
    transition: widht 0.5s ease;

    @media (min-width: $tablet) {
      padding-top: 16px;
    }
  }

  &:hover::after {
    width: 32px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 0 11px 0 32px
  }
}