.welcome {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet) {
    margin: 0 auto;
    position: relative;
    width: 709px;
    text-align: left;
    padding: 29px 0 526px 120px;

    &::before {
      content: "";
      background-image:
        image-set(url("../../images/backgrounds/index-can-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/backgrounds/index-can-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/backgrounds/index-can-tablet@1x.png") type("image/png") 1x,
        url("../../images/backgrounds/index-can-tablet@2x.png") type("image/png") 2x);

      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 709px 609px;
      width: 709px;
      height: 609px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-384px);
    }
  }

  @media (min-width: $desktop) {
    width: auto;
    padding: 0;

    &::before {
      width: 50%;
      height: calc(100% + 115px);
      left: 50%;
      transform: translateX(0);
      bottom: unset;
      top: -115px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image:
        image-set(url("../../images/backgrounds/index-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/backgrounds/index-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/backgrounds/index-background-desktop@1x.jpg") type("image/jpg") 1x,
        url("../../images/backgrounds/index-background-desktop@2x.jpg") type("image/jpg") 2x);
    }


    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: calc(100% + 31px);
      left: 50%;
      transform: translateX(0);
      bottom: unset;
      top: -115px;
      background: $green;
      opacity: 0.85;
      z-index: 1;
    }
  }
}


.welcome__wrapper {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    padding-top: 109px;
    padding-left: 80px;
    padding-bottom: 186px;

    &::before {
      content: "";
      background-image:
        image-set(url("../../images/backgrounds/index-can-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/backgrounds/index-can-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/backgrounds/index-can-desktop@1x.png") type("image/png") 1x,
        url("../../images/backgrounds/index-can-desktop@2x.png") type("image/png") 2x);

      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 552px 499px;
      width: 552px;
      height: 499px;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      z-index: 3;
    }
  }
}


.welcome__container {
  padding-bottom: 134px;
  position: relative;
  margin-bottom: 3px;

  @media (min-width: $tablet) {
    padding: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 280px;
    height: 270px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image:
      image-set(url("../../images/backgrounds/index-can-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/backgrounds/index-can-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/backgrounds/index-can-mobile@1x.png") type("image/png") 1x,
      url("../../images/backgrounds/index-can-mobile@2x.png") type("image/png") 2x);

    background-size: 280px 270px;
    z-index: 10;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    padding-bottom: 0;

    &::before {
      display: none;
    }
  }
}

.welcome__block {
  padding: 27px 0 165px;
  position: relative;

  @media (min-width: $tablet) {
    color: $black;
    padding: 39px 0 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }


  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #424146;
    background-repeat: no-repeat;
    background-position: center top;
    background-image:
      image-set(url("../../images/backgrounds/index-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/backgrounds/index-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/backgrounds/index-background-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../images/backgrounds/index-background-mobile@2x.jpg") type("image/jpg") 2x);

    background-size: auto 100%;
    z-index: 1;

    @media (min-width: $tablet) {
      background: none;
      margin: 0;
      padding: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $green;
    opacity: 0.85;
    z-index: 3;

    @media (min-width: $tablet) {
      background: none;
      margin: 0;
      padding: 0;
    }
  }
}

.welcome__title {
  padding: 0;
  margin: 0 auto 25px;
  font-family: $oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  width: 280px;
  position: relative;
  z-index: 7;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 39px;
    width: 416px;
    text-align: left;
  }
}

.welcome__text {
  padding: 0;
  margin: 0 auto;
  font-family: $oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  width: 280px;
  text-transform: uppercase;
  position: relative;
  z-index: 7;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    margin: 0 0 51px;
  }
}

.welcome__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $green;
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;

  @media (min-width: $tablet) {
    padding: 14px 26px 14px 27px;
    font-size: 20px;
    line-height: 26px;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 5;
  }
}
