@charset "UTF-8";
@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
}
/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: "Lato", sans-serif;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.special-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #000000;
  margin: 0;
  padding-left: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.special-title::after {
  content: "";
  border-top: 2px solid #69b738;
  position: absolute;
  width: 100%;
  top: 10px;
  z-index: -1;
  left: 0;
}
@media (min-width: 768px) {
  .special-title::after {
    top: 13px;
  }
}
@media (min-width: 1440px) {
  .special-title::after {
    top: 16px;
  }
}
@media (min-width: 768px) {
  .special-title {
    font-size: 32px;
    line-height: 32px;
    padding: 0 0 0 30px;
    margin-bottom: 44px;
  }
}
@media (min-width: 1440px) {
  .special-title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (min-width: 1440px) {
  .special-title__container {
    display: block;
    width: 1220px;
    margin: 0 auto;
  }
}

.special-title__text {
  display: inline-block;
  padding: 0 40px 0 20px;
  background-color: #ffffff;
  position: relative;
}
@media (min-width: 768px) {
  .special-title__text {
    padding: 0 40px 36px;
  }
}
@media (min-width: 1440px) {
  .special-title__text {
    margin: 0 0 0 -51px;
  }
}

.input {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  height: 55px;
  padding-left: 10px;
  width: calc(100% - 40px);
  margin: 0 20px 16px;
  box-sizing: border-box;
  color: #444444;
  outline: none;
}
.input:hover {
  border: 1px solid #cdcdcd;
}
.input:active {
  border: 1px solid #444444;
}
.input:invalid:not(:placeholder-shown) {
  border-color: transparent;
  outline: 2px solid #ff8282;
}
@media (min-width: 768px) {
  .input {
    margin: 0;
    flex-grow: 1;
    width: auto;
  }
}

.button {
  display: block;
  min-height: 40px;
  padding: 10px;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.button--primary {
  background-color: #68b738;
  color: #ffffff;
}
.button--primary:hover, .button--primary:focus {
  background-color: #5eaa2f;
}
.button--primary:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--primary:disabled {
  opacity: 0.3;
}

.button--secondary {
  background-color: #f2f2f2;
  color: #444444;
}
.button--secondary:hover, .button--secondary:focus {
  background-color: #ebebeb;
}
.button--secondary:active {
  background-color: #ebebeb;
}
.button--secondary:disabled {
  opacity: 0.3;
}

.button--larger-text {
  font-size: 20px;
  line-height: 26px;
  padding: 14px;
  min-height: 54px;
}

.more {
  padding: 66px 20px 23px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
.more::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url("../images/svg/icon-plus-mobile.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  top: 26px;
  left: calc(50% - 15px);
}
@media (min-width: 768px) {
  .more::before {
    width: 60px;
    height: 60px;
    background-image: url("../images/svg/icon-plus-tablet.svg");
    background-size: 60px 60px;
    top: 122px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (min-width: 768px) {
  .more {
    padding: 233px 0 40px;
    width: 324px;
    position: relative;
    border-bottom: none;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .more {
    width: 245px;
    padding: 220px 0 40px;
  }
}
@media (min-width: 768px) {
  .more::after {
    content: "";
    border: 1px solid #f2f2f2;
    height: calc(100% - 71px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
}

.more__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .more__title {
    font-size: 20px;
    line-height: 24px;
    width: 134px;
    margin: 0 auto 23px;
  }
}
@media (min-width: 1440px) {
  .more__title {
    margin: 0 auto 28px;
  }
}

.more__info {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin-bottom: 21px;
  margin-top: 0;
}
@media (min-width: 768px) {
  .more__info {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto 82px;
  }
}
@media (min-width: 1440px) {
  .more__info {
    margin: 0 auto 90px;
  }
}

.more__batton {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #f2f2f2;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  color: #444444;
}
.more__batton:hover {
  background-color: #ebebeb;
}
.more__batton:active {
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .more__batton {
    margin: 0 37px;
  }
}

.inner-title {
  padding: 0;
  margin: 0 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 400;
}
@media (min-width: 768px) {
  .inner-title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 0 30px;
  }
}

.detail {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .detail {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    gap: 156px;
    justify-content: space-around;
    padding-bottom: 6px;
  }
}
@media (min-width: 1440px) {
  .detail {
    gap: 75px;
  }
}

.detail__name {
  text-align: left;
}

.detail__value {
  text-align: right;
}

.card {
  padding: 21px 20px 22px;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .card {
    position: relative;
    width: 324px;
    min-height: 430px;
    padding: 0 37px 40px;
    background-color: #f2f2f2;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .card {
    width: 245px;
    min-height: 500px;
  }
}
@media (min-width: 768px) {
  .card::before {
    content: "";
    height: 71px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.card__container {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  min-height: 107px;
  margin-bottom: 14px;
  justify-content: space-around;
  max-width: 417px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .card__container {
    display: block;
    position: relative;
    padding-top: 234px;
  }
}
@media (min-width: 1440px) {
  .card__container {
    padding-top: 222px;
  }
}

.card__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
@media (min-width: 768px) {
  .card__image-link {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 200px;
  }
}
@media (min-width: 1440px) {
  .card__image-link {
    left: calc(100% - 70px);
  }
}

.card__image {
  border: none;
}

.card__info {
  width: 140px;
  min-height: 103px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 17px;
}
@media (min-width: 768px) {
  .card__info {
    width: 100%;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .card__info {
    gap: 24px;
  }
}

.card__name {
  width: 76px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@media (min-width: 768px) {
  .card__name {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222222;
    min-width: 159px;
  }
}
@media (min-width: 1440px) {
  .card__name {
    font-size: 20px;
    line-height: 24px;
    color: #222222;
  }
}

.card__details {
  width: 140px;
  padding: 0;
}
@media (min-width: 768px) {
  .card__details {
    width: 100%;
    margin-bottom: 13px;
  }
}
@media (min-width: 1440px) {
  .card__details {
    margin-bottom: 16px;
  }
}

.card__batton {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #69b738;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.card__batton:hover {
  background-color: #5eaa2f;
}
.card__batton:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.page__body {
  margin: 0;
}

@media (min-width: 1440px) {
  .page__body--index::before {
    content: "";
    width: 50%;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #454449;
  }
  .page__body--index::after {
    content: "";
    width: 50%;
    height: 600px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #69b738;
    opacity: 0.85;
  }
}

@media (min-width: 1440px) {
  .main {
    position: relative;
    z-index: 1;
  }
}

.main-header {
  background-image: url("../images/logo/logo-text.svg");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 101px 18px;
  position: relative;
  padding-top: 65px;
  z-index: 20;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .main-header {
    background-image: none;
    padding: 29px 0 0 233px;
    margin: 0 36px 0 30px;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 61px 0 0;
    width: 1220px;
    box-sizing: border-box;
    margin: 0 auto;
  }
}

.main-header__logo {
  position: absolute;
  top: 13px;
  left: 20px;
}
.main-header__logo:hover {
  opacity: 80%;
}
.main-header__logo:active {
  opacity: 60%;
}
@media (min-width: 768px) {
  .main-header__logo {
    top: 26px;
    left: 3px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo {
    top: 55px;
    left: 0;
  }
}

.nav {
  position: relative;
}
@media (min-width: 1440px) {
  .nav {
    width: 50%;
    margin-left: auto;
    box-sizing: border-box;
    padding-left: 30px;
  }
}

.nav__toggle {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -45px;
  right: 23px;
  border: none;
  background-color: #ff0000;
  display: none;
}

.nav--closed .nav__toggle {
  display: block;
  background: url("../images/svg/burger-menu-mobile.svg");
}
@media (min-width: 768px) {
  .nav--closed .nav__toggle {
    display: none;
  }
}

.nav--opened .nav__toggle {
  display: block;
  background: url("../images/svg/cross-for-close-mobile-menu.svg");
}
@media (min-width: 768px) {
  .nav--opened .nav__toggle {
    display: none;
  }
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .nav__list {
    display: flex;
    border-top: none;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0 34px;
  }
}

.nav--closed .nav__list {
  display: none;
}
@media (min-width: 768px) {
  .nav--closed .nav__list {
    display: flex;
  }
}

.nav--opened .nav__list {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .nav--opened .nav__list {
    display: flex;
    position: static;
  }
}

.nav__item {
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .nav__item {
    border-bottom: none;
  }
  .nav__item:active {
    position: relative;
  }
}
@media (min-width: 1440px) {
  .nav__item {
    border-bottom: none;
  }
  .nav__item:active {
    color: rgba(0, 0, 0, 0.3);
    position: relative;
  }
}

.nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  display: block;
  padding: 22px 5px 23px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .nav__link {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
  .nav__link--active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 13px;
    text-decoration-color: #69b738;
  }
  .nav__link:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1440px) {
  .nav__link {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    color: #000000;
  }
  .nav__link:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 1440px) {
  .nav--index .nav__link {
    color: #ffffff;
  }
  .nav--index .nav__link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .nav--index .nav__link:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .nav--index .nav__link--active {
    text-decoration-color: #ffffff;
  }
}

.welcome {
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
@media (min-width: 768px) {
  .welcome {
    margin: 0 auto;
    position: relative;
    width: 709px;
    text-align: left;
    padding: 29px 0 526px 91px;
    box-sizing: border-box;
  }
  .welcome::before {
    content: "";
    background-image: image-set(url("../images/backgrounds/index-can-tablet@1x.webp") type("image/webp") 1x, url("../images/backgrounds/index-can-tablet@2x.webp") type("image/webp") 2x, url("../images/backgrounds/index-can-tablet@1x.png") type("image/png") 1x, url("../images/backgrounds/index-can-tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 709px 609px;
    width: 709px;
    height: 609px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-354px);
  }
}
@media (min-width: 1440px) {
  .welcome {
    width: auto;
    padding: 0;
  }
  .welcome::before {
    content: "";
    left: 50%;
    transform: translateX(0);
    bottom: unset;
    top: -115px;
    background-repeat: no-repeat;
    width: 50%;
    height: calc(100% + 115px);
    position: absolute;
    background-size: auto 100%;
    background-position: right top;
    background-color: #4f4e53;
    background-image: image-set(url("../images/backgrounds/index-background-desktop@1x.webp") type("image/webp") 1x, url("../images/backgrounds/index-background-desktop@2x.webp") type("image/webp") 2x, url("../images/backgrounds/index-background-desktop@1x.jpg") type("image/jpg") 1x, url("../images/backgrounds/index-background-desktop@2x.jpg") type("image/jpg") 2x);
  }
  .welcome::after {
    content: "";
    position: absolute;
    width: 50%;
    height: calc(100% + 115px);
    left: 50%;
    transform: translateX(0);
    bottom: unset;
    top: -115px;
    background: #69b738;
    opacity: 0.85;
    z-index: 1;
  }
}

@media (min-width: 1440px) {
  .welcome__wrapper {
    width: 1220px;
    margin: 0 auto 81px;
    padding-top: 114px;
    padding-left: 81px;
    padding-bottom: 186px;
    box-sizing: border-box;
  }
  .welcome__wrapper::before {
    content: "";
    background-image: image-set(url("../images/backgrounds/index-can-desktop@1x.webp") type("image/webp") 1x, url("../images/backgrounds/index-can-desktop@2x.webp") type("image/webp") 2x, url("../images/backgrounds/index-can-desktop@1x.png") type("image/png") 1x, url("../images/backgrounds/index-can-desktop@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 552px 499px;
    width: 552px;
    height: 499px;
    position: absolute;
    left: 50%;
    top: 32px;
    transform: translateX(-163px);
    z-index: 3;
  }
}

.welcome__container {
  padding-bottom: 134px;
  position: relative;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .welcome__container {
    padding: 0;
  }
}
.welcome__container::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 280px;
  height: 269px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: image-set(url("../images/backgrounds/index-can-mobile@1x.webp") type("image/webp") 1x, url("../images/backgrounds/index-can-mobile@2x.webp") type("image/webp") 2x, url("../images/backgrounds/index-can-mobile@1x.png") type("image/png") 1x, url("../images/backgrounds/index-can-mobile@2x.png") type("image/png") 2x);
  background-size: 280px 270px;
  z-index: 10;
}
@media (min-width: 768px) {
  .welcome__container::before {
    display: none;
  }
}
@media (min-width: 768px) {
  .welcome__container {
    padding-bottom: 0;
  }
  .welcome__container::before {
    display: none;
  }
}

.welcome__block {
  padding: 27px 0 163px;
  position: relative;
}
@media (min-width: 768px) {
  .welcome__block {
    color: #000000;
    padding: 39px 0 0;
  }
}
@media (min-width: 1440px) {
  .welcome__block {
    padding: 0;
  }
}
.welcome__block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #424146;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: image-set(url("../images/backgrounds/index-background-mobile@1x.webp") type("image/webp") 1x, url("../images/backgrounds/index-background-mobile@2x.webp") type("image/webp") 2x, url("../images/backgrounds/index-background-mobile@1x.jpg") type("image/jpg") 1x, url("../images/backgrounds/index-background-mobile@2x.jpg") type("image/jpg") 2x);
  background-size: auto 100%;
  z-index: 1;
}
@media (min-width: 768px) {
  .welcome__block::before {
    background: none;
    margin: 0;
    padding: 0;
  }
}
.welcome__block::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #69b738;
  opacity: 0.85;
  z-index: 3;
}
@media (min-width: 768px) {
  .welcome__block::after {
    background: none;
    margin: 0;
    padding: 0;
  }
}

.welcome__title {
  padding: 0;
  margin: 0 auto 25px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  width: 280px;
  position: relative;
  z-index: 7;
}
@media (min-width: 768px) {
  .welcome__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 39px;
    width: 416px;
    text-align: left;
  }
}

.welcome__text {
  padding: 0;
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  width: 280px;
  text-transform: uppercase;
  position: relative;
  z-index: 7;
}
@media (min-width: 768px) {
  .welcome__text {
    font-size: 20px;
    line-height: 20px;
    width: 283px;
    margin: 0 0 51px;
  }
}

.welcome__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #69b738;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 20px;
}
.welcome__link:hover {
  background-color: #5eaa2f;
}
.welcome__link:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .welcome__link {
    padding: 14px 26px 14px 27px;
    font-size: 20px;
    line-height: 26px;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 5;
  }
}

@media (min-width: 1440px) {
  .problems {
    margin: 0 auto 71px;
    width: 1220px;
  }
}

.problems__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 1440px) {
  .problems__list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-bottom: 26px;
  }
}

.problems__item {
  padding: 19px 21px;
  margin: 0 20px 20px;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .problems__item {
    padding: 62px 20px 58px;
    margin: 0 30px 30px;
  }
}
@media (min-width: 1440px) {
  .problems__item {
    padding: 62px 73px 60px 19px;
    margin: 0;
    width: 570px;
    box-sizing: border-box;
  }
}

.problems__title {
  padding: 11px 0 0 70px;
  margin: 0 0 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  min-height: 50px;
}
.problems__title::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #69b738;
  z-index: 1;
}
.problems__title::after {
  content: "";
  position: absolute;
  background-position: center;
  z-index: 10;
  background-size: cover;
}
@media (min-width: 768px) {
  .problems__title {
    font-size: 36px;
    line-height: 36px;
    padding: 14px 0 0 32px;
    margin-bottom: 10px;
  }
  .problems__title::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 1px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #69b738;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .problems__title {
    font-size: 36px;
    line-height: 36px;
    padding: 15px 0 0 196px;
    margin-bottom: 59px;
  }
  .problems__title::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 1px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #69b738;
    z-index: 1;
  }
}

.problems__item--slim .problems__title::after {
  top: 0;
  left: 8px;
  background-image: url("../images/svg/cat-slim.svg");
  width: 36px;
  height: 50px;
}
@media (min-width: 768px) {
  .problems__item--slim .problems__title::after {
    width: 140px;
    height: 194px;
    top: 18px;
    left: 100%;
    margin-left: -213px;
  }
}
@media (min-width: 1440px) {
  .problems__item--slim .problems__title::after {
    width: 70px;
    height: 94px;
    top: -19px;
    left: 100%;
    margin-left: -430px;
  }
}
.problems__item--slim .problems__title::before {
  top: 4px;
  left: 1px;
}
@media (min-width: 768px) {
  .problems__item--slim .problems__title::before {
    top: 29px;
    left: 100%;
    margin-left: -243px;
  }
}
@media (min-width: 1440px) {
  .problems__item--slim .problems__title::before {
    top: -15px;
    left: 100%;
    margin-left: -444px;
  }
}

.problems__item--gain .problems__title::after {
  top: 16px;
  left: -8px;
  background-image: url("../images/svg/cat-powerful.svg");
  width: 67px;
  height: 28px;
}
@media (min-width: 768px) {
  .problems__item--gain .problems__title::after {
    width: 268px;
    height: 112px;
    top: 72px;
    left: 100%;
    margin-left: -277px;
  }
}
@media (min-width: 1440px) {
  .problems__item--gain .problems__title::after {
    width: 134px;
    height: 56px;
    top: 5px;
    left: 100%;
    margin-left: -464px;
  }
}
.problems__item--gain .problems__title::before {
  top: 4px;
  left: 1px;
}
@media (min-width: 768px) {
  .problems__item--gain .problems__title::before {
    top: 28px;
    left: 100%;
    margin-left: -243px;
  }
}
@media (min-width: 1440px) {
  .problems__item--gain .problems__title::before {
    top: -15px;
    left: 100%;
    margin-left: -445px;
  }
}

.problems__item:last-child {
  margin-bottom: 0;
}

.problems__text {
  padding: 0 10px 20px 0;
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .problems__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
    border-bottom: 0;
    padding: 0 297px 0 33px;
    margin-bottom: 52px;
  }
}
@media (min-width: 1440px) {
  .problems__text {
    padding: 0 0 0 33px;
    margin-bottom: 27px;
  }
}

.problems__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.problems__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.problems__link::after {
  content: "";
  position: absolute;
  top: 2px;
  left: calc(100% + 17px);
  background-image: url("../images/svg/icon-arrow.svg");
  width: 23px;
  height: 10px;
  background-position: right center;
  background-repeat: no-repeat;
  transition: widht 0.5s ease;
}
@media (min-width: 768px) {
  .problems__link::after {
    padding-top: 16px;
  }
}
.problems__link:hover::after {
  width: 32px;
}
.problems__link:active::after {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .problems__link {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding: 0 11px 0 32px;
  }
}

.advantages {
  padding-top: 19px;
  margin: 0 20px;
  padding-bottom: 29px;
}
@media (min-width: 768px) {
  .advantages {
    margin: 0 30px;
    padding: 147px 0 56px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    margin: 0 auto;
    width: 1220px;
    padding: 0;
  }
}

.advantages__title {
  margin: 0 0 40px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    margin: -102px 0 71px;
  }
}
@media (min-width: 1440px) {
  .advantages__title {
    margin: 0 0 72px;
  }
}

.advantages__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 87px 142px;
    width: 708px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    gap: 77px;
    width: 1220px;
    margin: 0 auto;
  }
}

.advantages__item {
  font-size: 14px;
  line-height: 18px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 80px;
  min-height: 60px;
  box-sizing: border-box;
  padding-top: 3px;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 242px;
    padding: 111px 0 25px;
    min-height: 210px;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    width: 247px;
    padding: 111px 0 25px;
    min-height: 280px;
  }
}
.advantages__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #69b738;
  z-index: 5;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .advantages__item::before {
    width: 80px;
    height: 80px;
  }
}
.advantages__item--leaf::before {
  background-image: url("../images/svg/icon-leaf.svg");
  background-size: 30px 32px;
}
.advantages__item--powder::before {
  background-image: url("../images/svg/icon-powder.svg");
  background-size: 26px 29px;
}
.advantages__item--food::before {
  background-image: url("../images/svg/icon-food.svg");
  background-size: 25px 30px;
}
.advantages__item--clock::before {
  background-image: url("../images/svg/icon-clock.svg");
  background-size: 26px 31px;
}
@media (min-width: 768px) {
  .advantages__item::after {
    content: "";
    min-width: 136px;
    height: 280px;
    text-align: center;
    position: absolute;
    right: -2px;
    top: 0;
    display: block;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 200px;
    color: #f2f2f2;
    z-index: -1;
  }
  .advantages__item:nth-child(1)::after {
    content: "1";
  }
  .advantages__item:nth-child(2)::after {
    content: "2";
  }
  .advantages__item:nth-child(3)::after {
    content: "3";
  }
  .advantages__item:nth-child(4)::after {
    content: "4";
  }
  .advantages__item:nth-child(5)::after {
    content: "5";
  }
  .advantages__item:nth-child(6)::after {
    content: "6";
  }
  .advantages__item:nth-child(7)::after {
    content: "7";
  }
  .advantages__item:nth-child(8)::after {
    content: "8";
  }
}
@media (min-width: 1440px) {
  .advantages__item::after {
    text-align: left;
    right: -4px;
  }
}
.advantages__item .advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item .advantages__description {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .advantages__item .advantages__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.achievements {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}
@media (min-width: 768px) {
  .achievements {
    padding: 25px 0 0;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .achievements {
    padding: 0;
    background-color: #f2f2f2;
    padding-bottom: 46px;
  }
}

.achievements__title {
  padding: 0;
  margin: 0 0 41px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
}
@media (min-width: 768px) {
  .achievements__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 22px 30px 19px;
  }
}
@media (min-width: 1440px) {
  .achievements__title {
    background-color: #ffffff;
    padding: 8px 0 77px;
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .achievements__title span {
    display: block;
    width: 1220px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .achievements__block {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
  }
}

@media (min-width: 1440px) {
  .achievements__text-block {
    width: 440px;
    padding-top: 70px;
  }
}

.achievements__text {
  padding: 0;
  margin: 0 0 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .achievements__text {
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 55px;
  }
}
@media (min-width: 1440px) {
  .achievements__text {
    margin: 0 0 69px;
  }
}

@media (min-width: 768px) {
  .achievements__container {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 89px;
  }
}
@media (min-width: 1440px) {
  .achievements__container {
    display: block;
    margin: 0;
  }
}

.achievements__list {
  padding: 0;
  margin: 0 auto 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  max-width: 333px;
}
@media (min-width: 768px) {
  .achievements__list {
    max-width: 716px;
    justify-content: flex-start;
    gap: 43px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .achievements__list {
    margin: 0 0 48px;
  }
}

.achievements__item {
  display: flex;
  flex-direction: column;
}

.achievements__meaning {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  border: 1px solid #cdcdcd;
  padding: 14px 15px 17px;
  border-radius: 4px;
  width: 91px;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  .achievements__meaning {
    font-size: 30px;
    line-height: 37px;
    min-width: 131px;
  }
}

.achievements__name {
  margin: -9px auto 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  width: 80px;
  background: #eaeaea;
}
@media (min-width: 768px) {
  .achievements__name {
    font-size: 14px;
    line-height: 14px;
    width: 127px;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .achievements__name {
    background-color: #f2f2f2;
  }
}

.achievements__costs {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 19px;
  display: block;
}
@media (min-width: 768px) {
  .achievements__costs {
    font-size: 20px;
    padding-top: 10px;
  }
  .achievements__costs span {
    display: block;
    text-align: right;
    margin-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .achievements__costs {
    display: flex;
    gap: 67px;
  }
}

@media (min-width: 768px) {
  .achievements__slider {
    background-color: #eaeaea;
    position: relative;
    padding-bottom: 98px;
  }
  .achievements__slider::before {
    content: "";
    width: 100%;
    height: 147px;
    position: absolute;
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .achievements__slider {
    padding: 0;
    margin-top: -134px;
    background-color: #f2f2f2;
  }
  .achievements__slider::before {
    height: 134px;
  }
}

.slider {
  width: 280px;
  height: 256px;
  position: relative;
  justify-self: center;
  touch-action: none;
}

.slider__button {
  width: 4px;
  height: 100%;
  position: absolute;
  border: none;
  border-radius: 2px;
  background-color: #666666;
  cursor: pointer;
  left: 50%;
  padding: 0;
  z-index: 3;
}
.slider__button:hover, .slider__button:hover::after, .slider__button:focus, .slider__button:focus::after {
  background-color: #69b738;
}
.slider__button:hover::before, .slider__button:focus::before {
  border-color: #69b738;
}
.slider__button:active, .slider__button:active::after {
  background-color: #5eaa2f;
}
.slider__button:active::before {
  border-color: #5eaa2f;
}
.slider__button:disabled {
  opacity: 0.6;
}

.slider__button::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__button::after {
  content: "";
  mask-image: url("../icons/stack.svg#arrows-slider");
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  width: 24px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: #666666;
}

.slider__image {
  width: 280px;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  max-width: none;
}

.slider__wrapper-before {
  width: 50%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
  height: 100%;
  overflow: hidden;
  background-color: #eaeaea;
  pointer-events: none;
}

.slider__wrapper-after {
  pointer-events: none;
}

@media (min-width: 768px) {
  .slider {
    width: 560px;
    height: 512px;
  }
  .slider__image {
    width: 560px;
  }
  .slider__wrapper-before {
    background-color: #eaeaea;
  }
  .slider__wrapper-before::after {
    content: "";
    width: 100%;
    height: 147px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .slider__wrapper-before {
    background-color: #f2f2f2;
  }
  .slider__wrapper-before::after {
    height: 134px;
  }
}
.main-footer__map {
  position: relative;
  height: 362px;
  width: 100%;
}
@media (min-width: 768px) {
  .main-footer__map {
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .main-footer__map {
    height: 100%;
  }
}

.main-footer__image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-footer__image-container img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-footer__map iframe {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main-footer__wrapper {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    padding-top: 56px;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1220px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 49px;
  }
}

.main-footer__logo {
  display: inline-block;
  color: #111111;
  width: 128px;
  height: 24px;
  margin-bottom: 19px;
}
.main-footer__logo:hover {
  color: #3e3e3e;
}
.main-footer__logo:active {
  color: #6b6b6b;
}
@media (min-width: 768px) {
  .main-footer__logo {
    margin: 0;
    padding-top: 6px;
  }
}

.main-footer__logo-image {
  width: 128px;
  height: 24px;
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    justify-content: end;
    gap: 25px;
  }
}

.invitation {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding-top: 27px;
  box-sizing: border-box;
  min-height: 112px;
}
@media (min-width: 768px) {
  .invitation {
    padding-top: 61px;
    box-sizing: border-box;
    min-height: 112px;
    gap: 218px;
    padding-bottom: 34px;
  }
}

.invitation__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #111111;
  text-transform: uppercase;
  padding: 0 18px 0 20px;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .invitation__title {
    font-size: 20px;
    line-height: 26px;
    padding: 0 78px 0 70px;
  }
}
@media (min-width: 1440px) {
  .invitation__title {
    font-size: 20px;
    line-height: 26px;
    padding: 0 29px 0 80px;
  }
}

.invitation__address {
  padding: 0 23px 0 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
@media (min-width: 768px) {
  .invitation__address {
    font-size: 16px;
    text-align: right;
    padding-right: 70px;
    padding-bottom: 18px;
  }
}
@media (min-width: 1440px) {
  .invitation__address {
    font-size: 16px;
    padding-right: 78px;
    text-align: left;
  }
}

.invitation__city {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
@media (min-width: 768px) {
  .invitation__city {
    font-size: 16px;
    text-align: right;
    padding-right: 70px;
  }
}
@media (min-width: 1440px) {
  .invitation__city {
    font-size: 16px;
    padding-right: 78px;
    text-align: left;
  }
}

.invitation__direction {
  display: flex;
  flex-direction: column;
}

.copyright {
  margin: 0 20px;
  padding: 0;
}
@media (min-width: 768px) {
  .copyright {
    margin: 0;
  }
}

.copyright__link {
  text-decoration: none;
  color: #111111;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin-top: 8px;
}

.copyright__logo {
  color: #666666;
}
.copyright__logo:hover, .copyright__logo:focus {
  color: #69b738;
  outline: none;
}
.copyright__logo:active {
  color: rgba(105, 183, 56, 0.3);
}

.social {
  padding: 0;
  margin-bottom: 19px;
}

.social__list {
  padding: 21px 0 13px;
  margin: 0 20px;
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social__list {
    border-top: none;
    border-bottom: none;
    padding: 7px 0 0 38px;
    margin: 0;
  }
}

.social__link {
  background-position: 50%;
  background-repeat: no-repeat;
  min-width: 28px;
  min-height: 28px;
  display: block;
  transition: all 0.3s;
}
.social__link:hover, .social__link:focus {
  background-color: #69b738;
}
.social__link:active {
  background-color: rgba(105, 183, 56, 0.3);
}

.social__link--vkontakte {
  mask-image: url("../images/svg/icon-vkontakte.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: #666666;
}

.social__link--youtube {
  mask-image: url("../images/svg/icon-youtube.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: #666666;
}

.social__link--telegram {
  mask-image: url("../images/svg/icon-telegram.svg");
  mask-size: 28px 22px;
  mask-repeat: no-repeat;
  background-color: #666666;
}

@media (min-width: 1440px) {
  .main-products {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-products__title {
  margin-bottom: 41px;
  padding-top: 26px;
}
@media (min-width: 768px) {
  .main-products__title {
    margin-bottom: 94px;
    padding-top: 67px;
  }
}
@media (min-width: 1440px) {
  .main-products__title {
    margin-bottom: 94px;
    padding-top: 78px;
    margin-left: 0;
  }
}

.main-products__cards {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .main-products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 68px 60px;
    padding: 0 30px;
    margin: 0 auto;
    width: 708px;
    border-top: none;
  }
}
@media (min-width: 1440px) {
  .main-products__cards {
    gap: 71px 63px;
    padding: 0;
    margin: 0 auto;
    width: 1220px;
  }
}

.main-products__more-image {
  width: 30px;
  margin: 0 auto 28px;
}

.main-products__more-title {
  font-family: "Oswald", "Arial", sans-serif;
}

.additional-products {
  padding: 25px 0 36px;
  margin: 0 0 43px;
}
@media (min-width: 768px) {
  .additional-products {
    padding: 74px 0 28px;
    margin: 0 0 33px;
  }
}
@media (min-width: 1440px) {
  .additional-products {
    padding: 0;
    margin: 0;
  }
}

.additional-products__cards {
  margin: 0 20px;
  padding: 0;
  list-style: none;
  border-top: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-products__cards {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .additional-products__cards {
    margin: 0 434px 0 110px;
    width: 896px;
  }
}

.additional-products__card {
  padding: 14px 0 16px;
  border-bottom: 1px solid #cdcdcd;
}
@media (min-width: 768px) {
  .additional-products__card {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 26px 38px 29px;
  }
}
@media (min-width: 1440px) {
  .additional-products__card {
    padding: 0;
    border-left: none;
    border-right: none;
    max-width: 896px;
    height: 71px;
    margin: 0 284px 0 0;
  }
}

.additional-products__link {
  text-decoration: none;
}
@media (min-width: 768px) {
  .additional-products__link {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .additional-products__link {
    justify-content: space-between;
  }
}

.additional-products__name {
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 13px;
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #222222;
}
@media (min-width: 768px) {
  .additional-products__name {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .additional-products__name {
    font-size: 20px;
    line-height: 20px;
    padding-top: 22px;
  }
}

.additional-products__details {
  color: #444444;
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .additional-products__details {
    justify-content: end;
    gap: 52px;
    padding-bottom: 23px;
  }
}
@media (min-width: 1440px) {
  .additional-products__details {
    justify-content: space-between;
  }
}

.additional-products__volume {
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional-products__volume {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-products__volume {
    font-size: 16px;
    line-height: 20px;
    padding-top: 26px;
  }
}

.additional-products__price {
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional-products__price {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additional-products__price {
    font-size: 16px;
    line-height: 20px;
    padding-top: 26px;
  }
}

.additional-products__button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #69b738;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
@media (min-width: 1440px) {
  .additional-products__button {
    width: 244px;
    margin-left: 651px;
  }
}

.additional-products__block {
  padding: 25px 0 5px;
  position: relative;
  min-height: 101px;
  margin: 0 20px;
}
.additional-products__block::before {
  content: "";
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  height: 100%;
  background-color: #424146;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: image-set(url("../images/backgrounds/cat-catalog-mobile@1x.webp") type("image/webp") 1x, url("../images/backgrounds/cat-catalog-mobile@2x.webp") type("image/webp") 2x, url("../images/backgrounds/cat-catalog-mobile@1x.jpg") type("image/jpg") 1x, url("../images/backgrounds/cat-catalog-mobile@2x.jpg") type("image/jpg") 2x);
}
.additional-products__block::after {
  content: "";
  position: absolute;
  left: 0;
  top: 38px;
  width: 100%;
  height: 100%;
  background: #69b738;
  opacity: 0.85;
  z-index: 3;
}
@media (min-width: 768px) {
  .additional-products__block::after {
    top: 68px;
    height: calc(100% - 88px);
  }
}
@media (min-width: 1440px) {
  .additional-products__block::after {
    top: -291px;
    height: 288px;
    left: 977px;
    width: 245px;
  }
}
@media (min-width: 768px) {
  .additional-products__block {
    margin: 0 30px;
  }
  .additional-products__block::before {
    content: "";
    position: absolute;
    left: 0;
    top: 68px;
    width: 100%;
    height: calc(100% - 88px);
    background-color: #424146;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: image-set(url("../images/backgrounds/cat-catalog-tablet@1x.webp") type("image/webp") 1x, url("../images/backgrounds/cat-catalog-tablet@2x.webp") type("image/webp") 2x, url("../images/backgrounds/cat-catalog-tablet@1x.jpg") type("image/jpg") 1x, url("../images/backgrounds/cat-catalog-tablet@2x.jpg") type("image/jpg") 2x);
  }
}
@media (min-width: 1440px) {
  .additional-products__block {
    margin: 0 110px;
    padding: 0;
    min-height: 95px;
  }
  .additional-products__block::before {
    content: "";
    position: absolute;
    left: 977px;
    top: -291px;
    width: 245px;
    height: 288px;
    background-color: #424146;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: image-set(url("../images/backgrounds/cat-catalog-desktop@1x.webp") type("image/webp") 1x, url("../images/backgrounds/cat-catalog-desktop@2x.webp") type("image/webp") 2x, url("../images/backgrounds/cat-catalog-desktop@1x.jpg") type("image/jpg") 1x, url("../images/backgrounds/cat-catalog-desktop@2x.jpg") type("image/jpg") 2x);
  }
}

.additional-products__text {
  padding: 198px 0 0;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  width: 170px;
  position: relative;
  z-index: 7;
  color: #ffffff;
  text-align: center;
}
@media (min-width: 768px) {
  .additional-products__text {
    padding: 114px 0 84px;
    margin: 0 0 0 422px;
    text-align: left;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .additional-products__text {
    margin: 0;
    padding: 0;
  }
}
.additional-products__text::before {
  content: "";
  display: block;
  position: absolute;
  width: 78px;
  height: 80px;
  background-image: url("../images/svg/icon-basket-mobile.svg");
  background-size: 78px 80px;
  background-repeat: no-repeat;
  top: 70px;
  left: calc(50% - 39px);
}
@media (min-width: 768px) {
  .additional-products__text::before {
    top: 100px;
    left: calc(50% - 428px);
  }
}

.subscription {
  padding: 0 0 40px;
}
@media (min-width: 768px) {
  .subscription {
    padding: 0 0 80px;
  }
}
@media (min-width: 1440px) {
  .subscription {
    padding: 0 0 104px;
  }
}

.subscription__title {
  margin: 0 0 32px;
}
@media (min-width: 768px) {
  .subscription__title {
    margin: 0 0 29px;
  }
}
@media (min-width: 1440px) {
  .subscription__title {
    margin: 0 0 35px;
  }
}

.subscription__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 0 auto 24px;
  padding: 0;
  text-align: center;
  width: 280px;
}
@media (min-width: 768px) {
  .subscription__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    width: 640px;
  }
}
@media (min-width: 1440px) {
  .subscription__text {
    width: 668px;
  }
}

@media (min-width: 768px) {
  .subscription__form {
    display: flex;
    margin: 0 68px;
  }
}
@media (min-width: 1440px) {
  .subscription__form {
    margin: 0 auto;
    width: 751px;
  }
}

.subscription__button {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  text-decoration: none;
  background-color: #69b738;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 0 20px;
  border: none;
  width: calc(100% - 40px);
}
@media (min-width: 768px) {
  .subscription__button {
    margin: 0;
    width: 256px;
  }
}

@media (min-width: 1440px) {
  .map {
    position: relative;
    padding: 94px 0 106px;
  }
}

.map__map {
  position: relative;
  height: 362px;
  width: 100%;
}
@media (min-width: 768px) {
  .map__map {
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .map__map {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
}

@media (min-width: 1440px) {
  .map__invitation {
    position: relative;
    z-index: 5;
    width: 565px;
    background: #ffffff;
    gap: unset;
    left: 50%;
    transform: translateX(-610px);
  }
}

.extra-goods {
  color: #444444;
  padding-top: 25px;
  box-sizing: border-box;
}

.extra-goods__title {
  margin-bottom: 34px;
}

.extra-goods__list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 34px;
  padding: 0 20px;
}

.extra-goods__item {
  border-top: 1px solid #cdcdcd;
}

.extra-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.extra-goods__promo {
  margin-bottom: 40px;
}

.extra-goods__link {
  text-decoration: none;
}

.extra-goods__link:hover,
.extra-goods__link:focus {
  opacity: 0.6;
}

.extra-goods__link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .extra-goods {
    margin-bottom: 80px;
    padding-top: 72px;
  }
  .extra-goods__title {
    margin-bottom: 43px;
  }
  .extra-goods__list {
    margin-bottom: 69px;
    padding: 0 30px;
  }
  .extra-goods__item {
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
  }
  .extra-goods__item:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .extra-goods {
    margin-bottom: 27px;
  }
  .extra-goods__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
  }
  .extra-goods__list {
    padding: 0;
    width: 896px;
  }
  .extra-goods__item {
    border-right: none;
    border-left: none;
  }
}
.simple-card {
  padding-top: 13px;
  padding-bottom: 18px;
  box-sizing: border-box;
}

.simple-card__title {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
}

.simple-card__price {
  display: flex;
  justify-content: space-between;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
.simple-card__price dd {
  text-align: right;
}
.simple-card__price dd::after {
  content: " ₽";
}

@media (min-width: 768px) {
  .simple-card {
    padding: 26px 38px 28px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .simple-card__title {
    font-size: 20px;
    line-height: 20px;
  }
  .simple-card__price {
    font-size: 16px;
    line-height: 20px;
    width: 230px;
    margin: 0;
    margin-bottom: 21px;
    justify-content: flex-end;
    padding-top: 3px;
  }
  .simple-card__price dd {
    text-align: right;
    width: 52px;
    padding-right: 2px;
  }
  .simple-card__price dt {
    padding-right: 1px;
  }
}
@media (min-width: 1440px) {
  .simple-card {
    width: 896px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 0 16px;
  }
  .simple-card__title {
    width: 285px;
    padding-top: 10px;
  }
  .simple-card__price {
    width: 336px;
    padding-top: 12px;
    margin-bottom: 0;
  }
  .simple-card__price dt {
    flex-grow: 1;
    padding-left: 41px;
    width: auto;
  }
  .simple-card__price dd {
    text-align: left;
    padding-right: 0;
  }
  .simple-card__button {
    width: 244px;
    margin-left: auto;
  }
}
.promo {
  position: relative;
  background-color: #68b738;
  background-image: url("../images/promo/promo-background-cat-mobile@2x.jpg");
  background-size: 280px 290px;
  background-repeat: no-repeat;
  background-position: center top;
  color: #ffffff;
  min-height: 290px;
  padding: 190px 50px 15px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100vw - 40px);
  box-sizing: border-box;
}

.promo::after {
  content: "";
  background-color: #68b738;
  width: 100%;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.promo__text {
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  text-align: center;
  position: relative;
  z-index: 2;
  width: 180px;
}

.promo__text::before {
  content: "";
  background-image: url("../icons/stack.svg#gift");
  width: 78px;
  height: 80px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -128px;
}

@media (min-width: 768px) {
  .promo {
    background-image: url("../images/promo/promo-background-cat-tablet@2x.jpg");
    background-size: 707px 200px;
    min-height: 200px;
    padding: 71px 104px 5px 420px;
    width: calc(100vw - 140px);
    min-width: 707px;
  }
  .promo::after {
    background-color: #68b738;
    width: 100%;
    height: 200px;
  }
  .promo__text {
    text-align: left;
  }
  .promo__text::before {
    background-image: url("../icons/stack.svg#gift");
    width: 80px;
    height: 82px;
    top: -15px;
    left: -169%;
  }
}
@media (min-width: 1440px) {
  .promo {
    background-image: url("../images/promo/promo-background-cat-desktop@2x.jpg");
    background-size: 245px 288px;
    width: 245px;
    height: 288px;
    padding: 185px 20px 5px;
    margin: 0;
    min-width: 245px;
  }
  .promo::after {
    background-color: #68b738;
    width: 245px;
    height: 288px;
  }
  .promo__text {
    text-align: center;
  }
  .promo__text::before {
    background-image: url("../icons/stack.svg#gift");
    width: 80px;
    height: 83px;
    left: 50%;
    transform: translateX(-50%);
    top: -128px;
  }
}